<% provide(:page_title, "Home") %>
<% provide(:home_active, 'active') %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Task<span class="heavy">App</span></a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "My Tasks", user_tasks_path(current_user), class: "nav-link #{yield(:tasks_active)}" %>
            </li>
            <li class="nav-item">
              <%= link_to "New Task", new_user_task_path(current_user), class: "nav-link #{yield(:task_active)}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link #{yield(:login_active)}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link #{yield(:signup_active)}" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
